@media screen and (max-width: 600px) {
    .content h1{
        font-size: 50px;
        font-weight: 600;
      }

      p{
          font-size: 15px;
          font-weight: 200;
          line-height: 2;
      }

      .rocket {
          display: none;
      }
}